ffprobe -version

async-lru
certifi
charset-normalizer
idna
mutagen
pyaes
pycryptodome
PySocks
python-dotenv
requests
soupsieve
TgCrypto
urllib3
websockets
yt-dlp
motor
aiohttp
aiofiles
pytz
umongo
speedtest-cli
ffmpeg
pyrogram==2.0.106
tgcrypto
pyromod==1.5
asyncio
humanize
uvloop

pyrogram
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
